{{ attach_library('lib_v2_core/libraries') }}
{{ attach_library('lib_carousel_v2/libraries') }}
<div class="lib-comp-carrousel">
	<div class="lib-comp-carrousel__items">
		{% for key, item in content.field_lib_v2_carousel_group_ref if key|first != '#' %}
		{# Items carrousel #}
			<div class="lib-comp-carrousel__item lib-comp-carrousel__item__{{key + 1}}">
				<div class="lib-comp-carrousel__card">
					<div class="lib-comp-carrousel__content lib-comp-carrousel__content__{{item.field_lib_v2_carousel_background.0['#markup']}}">
                        <div class="lib-comp-carrousel__textwrap">
                            <span class="lib-comp-carrousel__subheading">{{item.field_lib_v2_carousel_text_sup.0['#context'].value}}</span>
                            <h2 class="lib-comp-carrousel__title">{{item.field_lib_v2_carousel_text_main}}</h2>
                            <h3 class="lib-comp-carrousel__subtitle">{{item.field_lib_v2_carousel_sec}}</h3>
                            <a href="{{item.field_lib_v2_carousel_link.0['#url_title']}}" class="lib-comp-button lib-comp-carrousel__button lib-comp-button__{{item.field_lib_v2_carousel_link_color.0['#markup']}}">{{item.field_lib_v2_carousel_link.0['#title']}}</a>
                        </div>
                    </div>
					<div
						class="lib-comp-carrousel__image">
						{{item.field_lib_v2_carousel_image}}
					</div>
				</div>
			</div>
		{# End Items carrousel #}
		{% endfor %}

	</div>

	<div
		class="lib-comp-carrousel__nav">
		{# circles #}
		{% for key, item in content.field_lib_v2_carousel_group_ref if key|first != '#' %}
			<span class="lib-comp-carrousel__circle lib-comp-carrousel__circle__{{key + 1}}">{{key}}</span>
		{% endfor %}
	</div>
</div>
